<div class="comments box has-background-info">
  {{#each this}}
  <section class="comment box column">
    <div class="meta">
      {{user.username}} on {{created_at}}
    </div>
    <div class="text box">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">