<br>
<div class="create-post-header">
  <h1 class="title has-text-centered">Create Post</h1>
</div>
<br>
<div class="columns is-centered">
  <div class="column is-half">
    <section class="box">
      <form class="new-post-form form">
        <div class="field">
          <label for="title">Title</label>
          <div class="control">
          <input class="input" type="text" id="post-carmaker" name="title" />
          </div>
        </div>

        <div class="field">
          <label for="blog">What are you thinking about?</label>
          <div class="control">
            <textarea class="input" id="post-review" name="blog"> </textarea>
          </div>

        </div>
        <button type="submit" class="button is-info">Post</button>
      </form>
    </section>
  </div>
</div>
<br>
<br>
<div class="columns is-centered">
  <div class="column is-half box has-background-info">
    {{#if posts.length}}
    <section class="box">
      <h1 class="title has-text-centered">Your Posts</h1>
      <br>
      <ul>
        {{#each posts as |post|}}
        <li>
          {{> post-info post}}
          <div class="buttons">
            <button class="button is-info is-inverted">
              <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit <i class="fad fa-edit"></i>
            </button>
        </li>
        <hr class="has-background-dark">
        {{/each}}
      </ul>
    </section>
  </div>
</div>
{{/if}}

<script src="/javascript/add-post.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">