<div class="columns is-centered">
  <div class="column card is-parent is-half notification">
    <article class="tile is-child notification">
      <p class="title has-text-centered"> Kama's Tech Community</p>
      <div class="content has-text-centered subtitle is-4">
        <hr class="has-background-danger">
       We talk everything tech, you'll find out about all the new and current tech here!
        <br>
        <br>
      </div>
      <div class="column is-centered">
        <p class="has-text-centered ">
          <span class="icon is-small is-left has-background-danger">
            <i class="fad fa-pen-square"></i>
          </span>
          {{posts.length}}
          <br>
        </p>
      </div>
  </div>
  </article>
</div>
<ol class="post-list">
  {{#each posts as |post|}}
  <ul>
    {{> post-info post }}
  </ul>
  {{/each}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />