
<div class="columns is-centered login">
  <div class="column is-half">
    <h1 class="title has-text-centered"> Welcome Back!</h1>
    <form class="login-form box">
      <div class="field">
        <label class="label" for="email-login">Email</label>
        <div class="control has-icons-left">
          <input class="input" type="email" id="email-login" placeholder="e.g johnsmith@example.com" />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
      <br>
      <div class="field">
        <label class="label" for="password-login">Password</label>
        <div class="control has-icons-left">
          <input class="input" type="password" id="password-login"/>
           <span class="icon is-small is-left">
             <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>
      <br>
      <div>
        <button class="button is-info" type="submit">login</button>
      </div>
    </form>
  </div>
</div>

<br>


<script src="/javascript/login.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
