<main class="about">
  <div class="column is-three-fifths">
    <form class="signup-form box">
      <h1 class="title is-4 has-text-centered"> Join Our Community!</h1>
      <!-- Sign Up Fields Begin! -->
      <div class="field is-centered">
        <label class="label" for="username-signup">Username</label>
        <div class="control has-icons-left">
          <input class="input" type="text" id="username-signup" placeholder="johnsmith08" />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label" for="email-login">Email</label>
        <div class="control has-icons-left">
          <input class="input" type="email" id="email-signup" placeholder="e.g johnsmith@example.com" />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
      <br>
      <div class="field">
        <label class="label" for="password-login">Password</label>
        <div class="control has-icons-left">
          <input class="input" type="password" id="password-signup"/>
          <span class="icon is-small is-left">
             <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>
      <br>
      <div>
        <!-- Confirm Sign Up! -->
        <button class="button is-primary is-medium" type="submit">Sign Up</button>
      </div>
  </div>
  </form>
  <!-- End of Form -->
</main>
<script src="/javascript/signin.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="/stylesheets/style.css">